CONTROL	Control System Packets	1
2	MISC01	Y
3	MISC02	Y
4	MISC03	Y
5	MISC04	Y
6	MISC05	Y
7	MISC06	Y
8	MISC07	Y
9	MISC08	Y
10	MISC09	Y
11	MISC10	Y
12	MISC11	Y
13	MISC12	Y
19	MAPID	Y
20	VCID	Y
21	TCEBUF	Y
22	CMDMOD	Y
23	SPTV	Y
24	DPTV	Y
25	GCEV	Y
